# Editor temporary/working/backup files #
#########################################
.#*
[#]*#
*~
*$
*.bak
.idea/*
*.kdev4
*.org
.project
.pydevproject
*.rej
.settings/
.*.sw[nop]
.sw[nop]
*.tmp
*.vim
tags

# Compiled source #
###################
*.a
*.com
*.class
*.dll
*.exe
*.l[ao]
*.o
*.py[ocd]
*.so
_configtest.c

######################
*.vagrant
*.git
